In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1, 10], [2, 20], [3, 30], [4, 40]], columns=['col1', 'col2'], index=['a', 'b', 'c', 'd'])
print(df)

   col1  col2
a     1    10
b     2    20
c     3    30
d     4    40

In [6]:
print(df[df['col1'] > 2])

   col1  col2
c     3    30
d     4    40

In [8]:
print(df.where(df['col1'] > 2))

   col1  col2
a   NaN   NaN
b   NaN   NaN
c   3.0  30.0
d   4.0  40.0

In [1]:
import pandas as pd
import math

In [3]:
s = pd.Series([2, 5, 8, None])
print(s)

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64

In [4]:
for num in s:
    print(math.isnan(num))

False
False
False
True

In [5]:
pd.isnull(s)

0    False
1    False
2    False
3     True
dtype: bool

In [6]:
s.dropna()

0    2.0
1    5.0
2    8.0
dtype: float64

In [7]:
df = pd.DataFrame([[1, None], [None, 20], [None, None], [4, 40]], columns=['column1', 'column2'])
print(df)

   column1  column2
0      1.0      NaN
1      NaN     20.0
2      NaN      NaN
3      4.0     40.0

In [8]:
df.dropna()

   column1  column2
3      4.0     40.0

In [9]:
print(df)

   column1  column2
0      1.0      NaN
1      NaN     20.0
2      NaN      NaN
3      4.0     40.0

In [12]:
df.dropna(subset=['column1'])

   column1  column2
0      1.0      NaN
3      4.0     40.0

In [13]:
df = pd.DataFrame([['cate1', 'tag1', 150],['cate1', 'tag2', 210],['cate2', 'tag2', 80],['cate2', 'tag1', 310], ], columns=['category', 'tag', 'value'])

In [14]:
print(df)

  category   tag  value
0    cate1  tag1    150
1    cate1  tag2    210
2    cate2  tag2     80
3    cate2  tag1    310

In [19]:
df.groupby('category').sum()

C:\Users\08706\AppData\Local\Temp\ipykernel_12924\1847462723.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('category').sum()

          value
category
cate1       360
cate2       390

In [20]:
df.groupby(['category', 'tag']).count()

               value
category tag
cate1    tag1      1
         tag2      1
cate2    tag1      1
         tag2      1

In [21]:
df.groupby('tag').std()

C:\Users\08706\AppData\Local\Temp\ipykernel_12924\752402553.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('tag').std()

           value
tag
tag1  113.137085
tag2   91.923882